[submodule "vendor/hl2sdk-cs2"]
	path = vendor/hl2sdk-cs2
	url = https://github.com/swiftly-solution/hl2sdk
	branch = cs2
[submodule "vendor/metamod"]
	path = vendor/metamod
	url = https://github.com/alliedmodders/metamod-source
[submodule "vendor/asmjit"]
	path = vendor/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "vendor/asmtk"]
	path = vendor/asmtk
	url = https://github.com/asmjit/asmtk
